.selected {
    background-color: #f5f5f5;
    cursor: pointer;
    cursor: hand;
}

.search-icon {
    position: absolute;
    top: 0px;
    width: 30px;
    right: 0px;
    height: 100%;
}

.search-field{
    padding-right: 31px;
    width: 500px;
}

.search-div{
    display: inline-block;
    position: relative;
    margin-bottom: 25px;
}

.pagination{
    float: right;
}

.column-style{
    word-break: break-all;
    width: auto;
    min-width: 150px;
}

.aui-header .aui-header-logo img{
    padding: 0px;
}

.link{
    cursor: pointer;
    cursor: hand;
}

